<div
  class="add-top-margin-20"
  layout="row" layout-align="space-between">

  <!-- Left Panel -->
  <div 
    class="md-whiteframe-z4 add-top-margin-20"
    layout="column" flex-gt-sm="45" flex>

    <!-- Data Header Area -->
    <md-toolbar
      class="md-whiteframe-z4"
      layout="row" layout-align="center center">
      <div>
        <h1 class="md-headline">
          Leistungstabelle
        </h1>
      </div>
    </md-toolbar>

    <!-- Data Content Area -->
    <md-content 
      class="add-top-margin-20">

      <!-- no items -->
      <div 
        class="no-items md-headline"
        layout="row" layout-align="center center"
        ng-show="$ctrl.data.length === 0">
        Keine Daten vorhanden!
      </div>

      <!-- Data List-->
      <md-list flex>
        <md-list-item 
          class="md-3-line" noright
          aria-label="data list item"
          ng-click="selected = !selected; $ctrl.toggleItem(selected, item);"
          ng-repeat="item in $ctrl.data">
          
          <dataitem-component item="item" selected="selected"></dataitem-component>

          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content>  
  </div>

  <!-- Right Panel -->
  <div
    class="md-whiteframe-z4 add-top-margin-20"
    layout="column" flex-gt-sm="45" flex>

    <!-- Data Header Area -->
    <md-toolbar
      class="md-whiteframe-z4"
      layout="row" layout-align="center center">
      <div>
        <h1 class="md-headline">
          Favoriten
        </h1>
      </div>
    </md-toolbar>

    <!-- Data Content Area -->
    <md-content 
      class="add-top-margin-20">

      <!-- no items -->
      <div 
        class="no-items md-headline"
        layout="row" layout-align="center center"
        ng-show="$ctrl.favlist.length === 0">
        Keine Daten vorhanden!
      </div>

      <!-- Data List-->
      <md-list flex>
        <md-list-item 
          class="md-3-line" noright
          aria-label="fav list item"
          ng-click="$ctrl.removeItem(item);"
          ng-repeat="item in $ctrl.favlist">
          
          <favitem-component item="item"></favitem-component>

          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content> 
  </div>
  
</div>