<!doctype html>
<html ng-app="app">
  <head>
    <title>unofficial sportabzeichen webapp</title>
    <script src="./bower_components/angular/angular.min.js"></script>
    <!-- build:css style/app.min.css -->
    <link rel="stylesheet" href="./styles/app.css">
    <!-- endbuild -->
  </head>
  <body>

    <div ng-controller="DataController as dc">
      <!-- Auswahl der Kategorie -->
      <select
        ng-model="dc.category"
        ng-options="c.kategorie for c in dc.categories">
        <option value="">Select Category...</option>
      </select>

      <select
        ng-model="dc.gender"
        ng-options="g.geschlecht for g in dc.genders">
        <option value="">Select Gender...</option>
      </select>

      <select
        ng-model="dc.age"
        ng-options="a.alt_von + '-' + a.alt_bis for a in dc.ages">
        <option value="">Select Age...</option>
      </select>

      <button ng-click="dc.getData();">Get Data</button>

      <p>
        {{ dc.status }}
      </p>

      <pre>
        {{ dc.data | json }}
      </pre>

    </div>

    <!-- build:js js/app.min.js -->
    <script src="./js/app.js"></script>
    <!-- endbuild -->
    <!-- build:js js/data.controller.min.js -->
    <script src="./js/data.controller.js"></script>
    <!-- endbuild -->
    <!-- build:js js/data.service.min.js -->
    <script src="./js/data.service.js"></script>
    <!-- endbuild -->
  </body>
</html>