<!doctype html>
<html ng-app="app">
  <head>
    <title>unofficial sportabzeichen webapp</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css">
    <!-- build:css style/app.min.css -->
    <link rel="stylesheet" href="./styles/app.css">
    <!-- endbuild -->
  </head>
  <body layout="column">
    <!-- Header Area -->
    <md-toolbar 
      layout="row" 
      class="md-whiteframe-z4">
      <h1 class="md-headline add-left-margin-10">
        Unofficial Sportabzeichen Webapp
      </h1>
    </md-toolbar>

    <!-- Content Area -->
    <div layout="row" flex>
      <!-- Content -->
      <md-content id="content" flex>   
        <!-- ToDo: Extract to different Components -->
        <div 
          class="md-padding" flex
          ng-controller="DataController as dc">

          <!-- Top -->
          <div 
            class="md-whiteframe-z4 add-top-margin-20"
            layout="row"
            layout-align="center center">

            <!-- Begin: Kategorie -->
            <!-- Auswahl -->
            <md-input-container
              class="select-custom-width">
              <label>Auswahl der Kategorie</label>
              <md-select 
                ng-model="dc.category">
                <md-option 
                  ng-repeat="c in dc.categories" 
                  value="{{ c.kategorie }}">
                    {{ c.kategorie | uppercase }}
                </md-option>
              </md-select>
            </md-input-container>

            <!-- Button -->
            <md-button
              class="md-icon-button"
              aria-label="clear category"
              ng-click="dc.category = '';"> 
              <md-icon
                class="clear-button"
                md-font-icon="clear" 
                aria="clear">
                clear
              </md-icon>
            </md-button>
            <!-- End: Kategorie -->

            <!-- Begin: Geschlecht -->
            <!-- Auswahl -->
            <md-input-container
              class="select-custom-width">
              <label>Auswahl des Geschlechts</label>
              <md-select 
                ng-model="dc.gender">
                <md-option 
                  ng-repeat="g in dc.genders" 
                  value="{{ g.geschlecht }}">
                    {{ g.geschlecht | uppercase }}
                </md-option>
              </md-select>
            </md-input-container>

            <!-- Button -->
            <md-button
              class="md-icon-button"
              aria-label="clear gender"
              ng-click="dc.gender = '';"> 
              <md-icon
                class="clear-button"
                md-font-icon="clear" 
                aria="clear">
                clear
              </md-icon>
            </md-button>
            <!-- End: Geschlecht -->

            <!-- Begin: Alter -->
            <!-- Auswahl -->
            <md-input-container
              class="select-custom-width">
              <label>Auswahl des Alters</label>
              <md-select 
                ng-model="dc.age">
                <md-option 
                  ng-repeat="a in dc.ages" 
                  value="{{ a.alt_von + '-' + a.alt_bis }}">
                    {{ a.alt_von + ' - ' + a.alt_bis }}
                </md-option>
              </md-select>
            </md-input-container>

            <!-- Button -->
            <md-button
              class="md-icon-button"
              aria-label="clear age"
              ng-click="dc.age = '';"> 
              <md-icon
                class="clear-button"
                md-font-icon="clear" 
                aria="clear">
                clear
              </md-icon>
            </md-button>
            <!-- End: Alter -->

            <!-- Request senden -->
            <md-button        
              class="md-raised md-primary"
              aria-label="get data"
              ng-click="dc.getData();">
              Senden          
            </md-button>

            <!-- Request senden -->
            <md-button        
              class="md-raised md-accent"
              aria-label="get data"
              ng-click="dc.clearAll(withoutFav);">
              Löschen         
            </md-button>

            <md-checkbox 
              class="md-secondary add-top-margin-20 add-left-margin-10" 
              aria-label="without fav"
              ng-model="withoutFav">
              Löschen ohne Favoriten
            </md-checkbox>

          </div>

          <!-- Middle -->
          <div
            class="add-top-margin-20"
            layout="row"
            layout-align="space-between">

            <!-- Left Panel -->
            <div 
              class="md-whiteframe-z4 add-top-margin-20"
              layout="column"
              flex-gt-sm="45" flex>

              <!-- Data Header Area -->
              <md-toolbar
                class="md-whiteframe-z4"
                layout="row" 
                layout-align="center center">
                <div>
                  <h1 class="md-headline">
                    Leistungstabelle
                  </h1>
                </div>
              </md-toolbar>

              <!-- Data Content Area -->
              <md-content 
                class="add-top-margin-20">

                <!-- no items -->
                <div 
                  class="no-items"
                  layout="row" 
                  layout-align="center center"
                  ng-show="dc.data.length === 0">
                  Keine Daten vorhanden!
                </div>

                <!-- Data List-->
                <md-list flex>
                  <md-list-item 
                    class="md-3-line" 
                    noright
                    aria-label="data list item"
                    ng-click="selected = !selected; dc.toggleItem(selected, item);"
                    ng-repeat="item in dc.data">
                    <div class="md-list-item-text">
                      <h4 
                        aria-label="uebung and zusatz">
                          {{ item.uebung }} - {{ item.zusatz }}
                      </h4>
                      <h4 
                        aria-label="alter">
                          Alter: {{ item.alt_von }} - {{ item.alt_bis }}
                      </h4>
                      <h4 
                        aria-label="abzeichen">
                          Bronze: {{ item.abzeichen_bronze }} ; Silber: {{ item.abzeichen_silber }} ; Gold: {{ item.abzeichen_gold }}
                      </h4>
                      <h4 
                        aria-label="einheit">
                          Einheit: {{ item.einheit }}
                      </h4>
                      <md-checkbox 
                        class="md-secondary" 
                        aria-label="add To FavList"
                        ng-model="selected"
                        ng-click="selected = !selected; dc.toggleItem(selected, item);">
                      </md-checkbox>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                  </md-list-item>
                </md-list>
              </md-content>  
            </div>

            <!-- Right Panel -->
            <div
              class="md-whiteframe-z4 add-top-margin-20"
              layout="column"
              flex-gt-sm="45" flex>

              <!-- Data Header Area -->
              <md-toolbar
                class="md-whiteframe-z4"
                layout="row" 
                layout-align="center center">
                <div>
                  <h1 class="md-headline">
                    Favoriten
                  </h1>
                </div>
              </md-toolbar>

              <!-- Data Content Area -->
              <md-content 
                class="add-top-margin-20">

                <!-- no items -->
                <div 
                  class="no-items"
                  layout="row" 
                  layout-align="center center"
                  ng-show="dc.favList.length === 0">
                  Keine Daten vorhanden!
                </div>

                <!-- Data List-->
                <md-list flex>
                  <md-list-item 
                    class="md-3-line" 
                    noright
                    aria-label="fav list item"
                    ng-click="dc.removeItem(item);"
                    ng-repeat="item in dc.favList">
                    <div class="md-list-item-text">
                      <h4
                        aria-label="kategorie">
                          {{ item.kategorie | uppercase }}
                      </h4>
                      <h4 
                        aria-label="uebung and zusatz">
                          {{ item.uebung }} - {{ item.zusatz }}
                      </h4>
                      <h4 
                        aria-label="alter">
                          Alter: {{ item.alt_von }} - {{ item.alt_bis }}
                      </h4>
                      <h4 
                        aria-label="abzeichen">
                          Bronze: {{ item.abzeichen_bronze }} ; Silber: {{ item.abzeichen_silber }} ; Gold: {{ item.abzeichen_gold }}
                      </h4>
                      <h4 
                        aria-label="einheit">
                          Einheit: {{ item.einheit }}
                      </h4>
                      <md-button 
                        class="md-secondary" 
                        aria-label="remove from FavList"
                        ng-click="dc.removeItem(item);">
                        <md-icon
                          aria-label="remove from FavList">
                          clear
                        </md-icon>
                      </md-button>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                  </md-list-item>
                </md-list>
              </md-content> 
            </div>
            
          </div>
          
           <!-- Notification Toast -->
          <div layout-fill id="toast-container">
            <md-content></md-content>
          </div>

        </div>
      </md-content>
    </div>

    <!-- angular scripts -->
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="./bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="./bower_components/angular-material/angular-material.min.js"></script>
    <!-- app scripts -->
    <!-- build:js js/app.min.js -->
    <script src="./js/app.js"></script>
    <!-- endbuild -->
    <!-- build:js js/data.controller.min.js -->
    <script src="./js/data.controller.js"></script>
    <!-- endbuild -->
    <!-- build:js js/data.service.min.js -->
    <script src="./js/data.service.js"></script>
    <!-- endbuild -->
  </body>
</html>